.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 10px;
  background-color: burlywood;
  
}
.mailTitle h1 {
  font-size: 25px;
  color:Black;
}
